# Auto‑generated template set_intf_19
Value INTF_NAME (\S+)
Value VALUE (\S+)
Start
  ^set\s+intf\s+${INTF_NAME}\s+(?:${INTF_NAME})?\s+(?:~\s+${INTF_NAME})?\s+optical-module\s+power-typical\s+${VALUE}\s*$$ -> Record
